PORT=4000
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://artesanias_user:artesanias_pass@localhost:5432/artesanias_db"
JWT_SECRET="change_me"

CLOUDINARY_CLOUD_NAME="change_me"
CLOUDINARY_API_KEY="change_me"
CLOUDINARY_API_SECRET="change_me"